<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bai3</title>
    <style>
        h1{
            text-align: center;
        }
        table{
            width: 700px;
            margin: 0 auto;
            border: black 1px solid;
        }
        th{
            border: black 1px solid;
        }
        tr{
            border: black 1px solid;
        }
        th{
            border: black 1px solid;
        }
        td{
            border: black 1px solid;
        }
    </style>
</head>
<body>
    <h1>KẾT QUẢ THI MÔN LẬP TRÌNH C</h1>
    <table>
        <tr>
            <th>STT</th>
            <th>Họ và tên</th>
            <th colspan="3">Năm sinh</th>
            <th>Kết quả</th>
            <th>Xếp loại</th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>Trần Anh Đức</td>
            <td>03/08/1993</td>
            <td>Nam</td>
        </tr>
        <tr>
            <td>Kiều Thị Thu Hằng</td>
            <td>04/09/1991</td>
            <td>Nữ</td>
        </tr>
        <tr>
            <td>Vương Thị Lê Na</td>
            <td>06/10/1991</td>
            <td>Nữ</td>
        </tr>
    </table>
</body>
</html>