.header{
    padding: 30px;
    background-color: whitesmoke;
    color: green;
};
.menu{
    background-color: blue;
    padding: 20px;
};
.menu:hover{
    background-color: yellow;
    color: red;
    cursor: pointer;
};
/* .menu.link{
    display: 

}; */